$lightest: #ffffff;
$light: #d8d8d8;
$medium: #6c757d;
$darker: #aeaeae;
$darkest: #020003;
$yellow: #ffff00;
$lightOverlay: rgba($darkest,.7);
$darkOverlay: rgba($darkest,.9);

$xs-font-size: 12px;
$xs-line-height: 18px;

$sm-font-size: 16px;
$sm-line-height: 28px;

$md-font-size: 18px;
$md-line-height: 25px;

$lg-font-size: 30px;
$lg-line-height: 34px;

$xl-font-size: 45px;
$xl-line-height: 50px;

$sm-font-size-sm: 20px;
$sm-line-height-sm: 24px;

$md-font-size-sm: 14px;
$md-line-height-sm: 19px;

$lg-font-size-sm: 28px;
$lg-line-height-sm: 34px;

$xl-font-size-sm: 28px;
$xl-line-height-sm: 30px;

@mixin xs-text {
	font-size: $xs-font-size;
	line-height: $xs-line-height;
}

@mixin sm-text {
	font-size: $sm-font-size;
	line-height: $sm-line-height;
	// @include sm {
	// 	font-size: $sm-font-size-sm;
	// 	line-height: $sm-line-height-sm;
	// }
}

@mixin md-text {
	font-size: $md-font-size;
	line-height: $md-line-height;
	@include sm {
		font-size: $md-font-size-sm;
		line-height: $md-line-height-sm;
	}
}

@mixin lg-text {
	font-size: $lg-font-size;
	line-height: $lg-line-height;
	// @include sm {
	// 	font-size: $lg-font-size-sm;
	// 	line-height: $lg-line-height-sm;
	// }
}

@mixin xl-text {
	font-size: $xl-font-size;
	line-height: $xl-line-height;
	@include sm {
		font-size: $xl-font-size-sm;
		line-height: $xl-line-height-sm;
	}
}

$sm-width: 576px;
$md-width: 768px;
$lg-width: 1200px;
$max-width: $lg-width;

@mixin sm {
	@media (max-width: #{$sm-width - 1px}) {
		@content;
	}
}

@mixin md {
	@media (max-width: $md-width) {
		@content;
	}
}

@mixin lg {
	@media (max-width: $lg-width) {
		@content;
	}
}

// @mixin md {
// 	@media (min-width: $lg-width) {
// 		@content;
// 	}
// }

// @mixin sm {
// 	@media (max-width: $sm-width) {
// 		@content;
// 	}
// }

// @mixin md {
// 	@media (max-width: $md-width) {
// 		@content;
// 	}
// }

@font-face {
	font-family: 'Amnesty';
	src: url('./../fonts/AmnestyTradeGothic.woff2') format('woff2'),
			 url('./../fonts/AmnestyTradeGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Amnesty';
	src: url('./../fonts/AmnestyTradeGothic-Light.woff2') format('woff2'),
			 url('./../fonts/AmnestyTradeGothic-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Amnesty';
	src: url('./../fonts/AmnestyTradeGothic-Obl.woff2') format('woff2'),
			 url('./../fonts/AmnestyTradeGothic-Obl.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Amnesty';
	src: url('./../fonts/AmnestyTradeGothic-LightObl.woff2') format('woff2'),
			 url('./../fonts/AmnestyTradeGothic-LightObl.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Amnesty';
	src: url('./../fonts/AmnestyTradeGothic-Bd2Obl.woff2') format('woff2'),
			 url('./../fonts/AmnestyTradeGothic-Bd2Obl.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Amnesty Cond';
	src: url('./../fonts/AmnestyTradeGothic-Cn18.woff2') format('woff2'),
			 url('./../fonts/AmnestyTradeGothic-Cn18.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Amnesty Cond';
	src: url('./../fonts/AmnestyTradeGothic-BdCn20.woff2') format('woff2'),
			 url('./../fonts/AmnestyTradeGothic-BdCn20.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Amnesty Cond';
	src: url('./../fonts/AmnestyTradeGothic-Cn18Obl.woff2') format('woff2'),
			 url('./../fonts/AmnestyTradeGothic-Cn18Obl.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Amnesty Cond';
	src: url('./../fonts/AmnestyTradeGothic-BdCn20Ob.woff2') format('woff2'),
			 url('./../fonts/AmnestyTradeGothic-BdCn20Ob.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'FrutigerLTArabic';
	src: url('./../fonts/FrutigerLTArabic-77BlackCn.woff2') format('woff2'),
			 url('./../fonts/FrutigerLTArabic-77BlackCn.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}